.search-bar-row {
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding-inline: 1rem;
  align-items: center;
  @media screen and (max-width: 575px) {
    flex-direction: column;
  }

  .search-col {
    .input-group {
      padding-block: 1rem;
      border-radius: 10px;
      position: relative;
      .form-control {
        box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
          inset 4px 4px 10px rgba(0, 0, 0, 0.5),
          inset -4px -4px 10px rgba(67, 67, 67, 0.3),
          4px 4px 10px rgba(0, 0, 0, 0.3);
        border: 2px solid hsl(0, 0%, 10%);
        background: transparent;
        color: white;

        &:focus {
          border: 1px solid var(--clr-primary-200);
        }
      }
      button {
        position: absolute;
        right: 0;
        z-index: 20;
      }
    }
  }

  .filter-col {
    .filter-form {
      &__input {
        justify-content: center;
        &-select {
          cursor: pointer;
          padding-inline: 1rem;
          padding-block: 0.5rem;
          border-radius: 20px;
          background-color: hsl(45, 100%, 51%, 0.1);
          color: var(--clr-text-heading);
          border-color: var(--warning);
          outline: none;
          &-option {
            background-color: var(--warning);
            color: black;
            margin-block: 2rem;
          }
        }
      }
    }
  }
}
